* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
    font-family: 'Varela Round', 'Open Sans', sans-serif;
    font-size: 16px;
    position: relative;
    
}

body::after {
    content: "";
    background-image: url("../images/ophthalmology-background-with-doctor-ophthalmologist-check-vision-with-eye-test-chart-vector-hand-drawn-illustration-man-optometrist-glasses-drops-machines-eyesight-.webp");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

h1, h2, h3  {
    font-weight: 900;
}

h3  {
    font-size: x-large;
    margin: 5px 0;
    color: #a42212;
}

h2  {
    text-align: center;
    font-size: 2rem;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
    color: #a3d9ff;
    margin-top: 50px;
    position: relative;
}

header  {
    width: 100%;
    display: grid;
    grid-template-columns: 160px 1fr;
    background-color: #94c5e8;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

header picture img  {
    width: 150px;
    height: 100%;
}

header picture  {
    grid-column: 1/2;
    grid-row: 1/3;
}

.first-header   {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    width: 100%;
}

.nav-top    {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 .5rem 0 0;
    align-self: end;
}

.nav-top ul {
    display: flex;
}

.nav-top li {
    flex: 1 1 100%;
    text-align: center;
    border: 1px solid white;
    background-color: #7e6b8f;
    padding: 10px 0;
    list-style: none;
}

.nav-top a  {
    color: white;
    font-size: large;
}

.nav-top li:hover    {
    background-color: #004a9e;  
}

.nav-top li:hover a  {
    font-weight: 900;
}

a   {
    text-decoration: none;
    color: red;
}

.social-top img {
    width: 35px;
    border-radius: 10px;
    border: 2px solid white;
}

.social-top img:hover {
    transition-duration: 0.5s;
    border: 2px solid red;
}

.social-top {
    margin-right: .5rem;
}

.banner img {
    width: 100%;
}

.banner {
    position: relative;
}

.show   {
    position: absolute;
    left: 40%;
    top: 10%;
    font-size: 3rem;
    color: #004a9e;
    text-shadow: 3px 3px white;
}

.call-to-action     {
    background-color: #94c538;
    border: 2px solid white;
    border-radius: 5% 25%;
    color: white;
    padding: 15px 30px;
    font-size: 30px;
    position: absolute;
    top: 13%;
    left: 45%;
    transition: .5s;
}

.call-to-action:hover   {
    background-color: #004a9e;
    opacity: 0.9;
    color: red;
}

.line-1   {
    background-color: #94c5e8;
    border: 1px solid #FFF1D1;
    height: 1px; 
    margin-top: -4px;
    padding: 2px;
}

.motto-mission-vision   {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    background-color: #94c5e8;
    padding: 50px 0;
    color: white;
}

.motto img  {
    width: 170px;
    margin: -20px 0;
}

.motto-mission-vision .vision, .mission, .motto {
    max-width: 300px;
}

.space  {
    min-height: 50px;
}

.line  {
    background-color: #004a9e;
    border: 1px solid #FFF1D1;
    width: 150px; 
    margin-top: 10px;
    padding: 2px;
    position: absolute;
    left: 44%;
}


.director-image  {  
    float: left;
    
    
}

.director-image img {
    width: 200px;
    border: 2px solid #004a9e;
    border-radius: 30px;
    box-shadow: 1px 1px 15px 1px #004a9e;
    margin: 10px 35px 0 -15px
}

.message  {
    background-color: #d1e6ff;
    margin: 0 30px;
    padding: 20px 10px 10px 35px;
    line-height: 1.5rem;
    
}

.message p     {   
    padding: 10px 10px;
    font-size: large;
}

.staffs {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #94c5e8;
    padding: 50px 0;
    color: white;
}

.principal  {
    width: 300px;
}

.vice, .junior  {
    width: 250px;
}

.teachers   {
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 2rem;
    background-color: #94c5e8;
    padding: 50px 0;
    color: white;
}

.teacher img   {
    width: 250px;
}

.teachers  {
    position: relative;
}

.staffs img,   .teachers img   {
    border: 2px solid #004a9e;
    border-radius: 30px;
    box-shadow: 1px 1px 15px 1px white;
    margin-bottom: 10px;
} 

.staffs img,   .teachers img    {
    margin-bottom: 20px;
}

.req-apply  {
    display: flex;
    justify-content: center;
}

.req    {
    padding: 15px 30px;
    color: white;
    align-self: center;
    border-radius: 20px;
    font-size: 1.2rem;
    background: linear-gradient(to left, #248af7 50%, brown 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.req:hover    {
    background-position: left;
}

.apply  {
    background-color: #96e6b3;
    padding: 12px 80px;
    color: white;
    margin: 0 0 0 10rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 20px;
    align-self: center;
    background: linear-gradient(to right, red 50%, #004a9e 50%) left;
    background-size: 200%;
    transition: .5s ease-out;
}


.apply:hover    {
    background-position: right;
}

footer  {
    background-color: #94c5e8;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.foot   {
    display: flex;
    justify-content: space-around;
}

.nav-down ul {
    list-style: none;
}

.nav-down li    {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-down a    {
    flex: 1 1 auto;
    background-color: white;
    margin: 5px;
    text-align: center;
    padding: 7px 100px;
    font-weight: bold;
    border-radius: 1px 10px;
    transition: .5s;
}

.nav-down a:hover   {
    background-color: red;
    color: white;
    font-weight: bolder;
}



.address    {
    text-align: center;
    color: red;
    margin: 20px;
}

.address-head   {
    font-family: 'Varela Round', 'Open Sans', sans-serif;
    margin: 5px;
}

.address-para   {
    color: #FFF1D1;
    font-size: small;
    text-align: center; 
    font-family: 'Varela Round', 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 100;
}

.visit  {
    margin: 20px 7px 5px 7px;
    text-align: center;
}

.foot h3  {
    font-size: medium;
    color: white;
    font-weight: 100;
}

.nav-down   {
    margin: 20px;
}

.contact-down   {
    margin: 20px;
    background-color: white;
    padding: 20px 15px;
    font-weight: bold;
    border-radius: 1px 30px;
    color: blue;
}

.copyright  {
    font-size: larger;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
}

.social img {
    width: 45px;
    border-radius: 10px;
    border: 2px solid white;
}

.social {
    background-color: white;
    padding: 11px 25px;
    font-weight: bold;
    border-radius: 1px 30px;  
    margin-top: -14px;
}

.social img:hover {

    transition-duration: 0.5s;
    border: 2px solid cyan;
}

.contact-social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.requirement-form  {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.requirement-form h3    {
    font-size: large;
    font-weight: 100;
    text-align: center;
}

.requirement    {
    background-color: #004a9e;
    color: white;
    padding: 25px;
    line-height: 1.5rem;
}

.requirement li    {
    margin-left: 20px;
}

.form   {
    background-color: #d1e6ff;
    padding: 25px; 
    display: grid;
    justify-items: center; 
}

form    {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

input, select {
    padding: 10px;
    font-size: medium;
    width: 100%;
}

.submit-container {
    text-align: center;
    grid-column: 1/3;
}
.submit     {
    
    padding: 8px 30px;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    max-width: 175px;
    margin: 20px 0 0 10px;
    border: none;
    transition: .5s;
    cursor: pointer;
}  

.submit:hover   {
    background-color: #004a9e;
    color: white;
}

.space2     {
    height: 20px;
}

.banner2 img    {
    width: 100%;
    height: 500px;
}

.page   {
    padding: 50px;
    background-color: aliceblue;
    line-height: 1.5rem;
}

.page h3    {
    font-size: large;
    font-weight: bold;
}